
/* General Styling for html file */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
}

.container {
    width: 68%;
    margin: 0 auto;
}

button {
    background-color: #E83F57;
    color: #ffffff;
    border-radius: .4rem;
    
}

/*  Styling for Header Part is here  */
header {
    background-color: #3DE07E ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
}
/* nav icon  */
header .navicon {
    align-self: flex-start;
    margin: 2cqh;
    padding: 2cqbh;
    
}
/* page title, Poster Shop  */
header h1 {
    align-self: center;
    font-size: 6cqmax;
}
/* Ninjahead image  */
header .ninjahead {
    align-self: center;
    width: 210px;
}

/* main  */
main {
 margin: 3cqb 0;
}

/* small-cards section  */
.small-cards {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
}

/* one card in small-cards  */
.small-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem;
    max-width:28%;
    min-width: 20%;
}

.small-card .card-img {
    max-width: 100%;
    margin-bottom: 4px;
}

.small-card .card-title {
    font-size: 2rem;
    color: white;
    margin-bottom: 2px;
}

.small-card .card-text {
    color: white;
    margin-bottom: 2rem;
}

.small-card .card-btn {
    width: 150px;
    padding: .5rem 1rem;
    font-size: 12px;
    margin-bottom: 5cap;
}

/* Medium-cards section  */
.medium-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    
}

/* medium-card  */
.medium-card {
    justify-content: space-between;
    margin: 1rem;
    background-color: #ffffff;
    max-width: 45%;
    min-width: 30%;
    display: flex;
    flex-direction: column;
   }

.medium-card .card-img {
    max-width: 80%;
    margin-bottom: 1rem;
}

.medium-card .card-title {
    font-size: 2rem;
    color: black;
    margin: 0 1rem;
}

.medium-card .card-text {
    color: black;
    margin: 1rem 1rem 3rem;
}

.medium-card .card-btn {
    width: 170px;
    padding: 1rem;
    margin: 1rem;
    font-size: 12px;
}

/* footer  */
footer {
    background-color: rgb(10, 8, 8);
    padding: 10pt 10pc 10pc;
}

.footer-groups {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.nav-group, .address-group, .social-media-group {
    margin-bottom: 5px;
    max-width: 180px;
    min-width: 200px;
}

.nav-group nav {
    display: flex;
    flex-direction: column;
}

.nav-group nav a {
    text-decoration: none;
    color:white;
}

footer h3 {
    font-size: 12px;
    color:white;
    margin-bottom:10px;
}

footer p{
    color: white
}

footer ul {
    list-style: none;
    display: flex;
}

footer ul li {
    margin-right: px;
    cursor: pointer;
}

/* chaeckout screen  */

.checkout-subtitle {
    color: white;
    font-size: 2rem;
    padding: 1rem;
}

.checkout {
    color: white;
    padding: 1rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.checkout-header, .checkout-item, .checkout-total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
}

.checkout-header {
    background-color:  #2F0B0B;
    padding: .5rem 0;
}

.checkout-header span:first-of-type {
    padding-left: 6rem;
}

.checkout-header span:last-of-type {
    padding-right: 2rem;
}

.checkout-item p, .checkout-item span, .checkout-total p, .checkout-total span {
    font-size: 1.2rem;
}

.checkout-total p, .checkout-total span {
    font-size: 1.3rem;
    font-weight: 500;
}

.checkout-items>div:last-child {
    border-bottom: 1px solid #ffffff;
    padding-bottom: 2rem;
}

.checkout button {
    padding: .8rem 1rem;
    margin: 4rem 1rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    align-self: flex-end;
}

